* {
    background:     #282a36;
    background-alt: #ffffff;
    border:         #FFFFFFFF;
    foreground:     #FFFFFFFF;
    selected:       #a29bfe;
    active:         #98C379FF;
    urgent:         #E06C75FF;
}
