* {
    background:     #282a36;
    background-alt: #ffffff;
    border:         #1ABB9B;
    foreground:     #FFFFFFFF;
    selected:       #1ABB9B;
    active:         #98C379FF;
    urgent:         #E06C75FF;
}
